$fontColor: rgb(255, 80, 103);
$darkerFontColor: rgb(123, 0, 33);
$mainFont: 'Righteous', sans-serif;

* {
  box-sizing: content-box;
}

body {
    color: $fontColor;
    background-image: url('70s.gif');
    background-size: 1%;
    font-family: $mainFont;
    overflow-x: hidden; //hide horizontal scroll-bar
    -ms-overflow-style: none;  /* hide scroll-bar in IE and Edge */
    scrollbar-width: none;  /* hide scroll-bar in Firefox */
  
    &::-webkit-scrollbar {
      display: none;
    }

    .hide-scroll-chrome::-webkit-scrollbar {
      display: none;
      }
}

.container {
  max-width: 2000px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-image: url('./california-dreamin-mute.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15% / 40%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  
  
  font-size:  1.1rem;
  overflow-x: hidden; //hide horizontal scroll-bar

 -ms-overflow-style: none;  /* hide scroll-bar in IE and Edge */
  scrollbar-width: none;  /* hide scroll-bar in Firefox */
  
  &::-webkit-scrollbar {
    display: none;
  }

  .hide-scroll-chrome::-webkit-scrollbar {
  display: none;
  }

}

h1 {
  font-size: 4.8rem;
    
  @media screen and (max-width: 500px) {
    font-size: 3rem;
  }

  @media screen and (min-width: 1600px) {
    font-size: 120px;
    }
}

.h1--mod {
  font-size: 2rem;
  position: relative;
  top: -8vh;

  @media screen and (max-width: 500px) {
    display: none;
  }

  @media screen and (min-width: 1600px) {
    font-size: 35px;
  }
}

form {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: -5vh;

  @media screen and (max-width: 500px) {
    font-size: 1.8rem;
  }

  @media screen and (min-width: 1600px) {
    font-size: 50px;
  }
}

h2 {
  position: relative;
  top: -13vh;
}

#question-input {
  text-align: left;
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
}



.myBtn {
  font-family: $mainFont;
  width: fit-content;
  padding: 3vh 5vh;
  font-size: 5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color:$fontColor;
  border: none;
  border-radius: 15% / 40%;
  box-shadow: 0 9px $darkerFontColor;
  align-self: center;
  position: relative;
  top: -15vh;

  &:hover {background-color: rgb(204, 65, 83);}
  
  &:active {
    background-color: rgb(177, 56, 72);
    box-shadow: 0 5px #4e0015;
    transform: translateY(4px);
  }

  @media screen and (max-width: 500px) {
    font-size: 2rem;
  }

  @media screen and (min-width: 1600px) {
    font-size: 80px;
  }

}

.myBtn--mod {
  
  font-size: 1.6rem;
  position: relative;
  top: 5vh;

  @media screen and (max-width: 500px) {
    font-size: 1.5rem;
  }

  @media screen and (min-width: 1600px) {
    font-size: 30px;
  }

}


// <Modal>

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index:1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-size: 5rem;
  border-radius: 10% / 30%;
}

/* The Close Button */
.close {
  //background-color: red;
  color: grey;
  font-size: 2.5rem;
  font-weight: bold;
  display: block;
  width: fit-content;
  position: relative;
  left: 100%;
  transform: translateY(-60%);

  @media screen and (max-width: 500px) {
    left: 90%;
    transform: translateY(-20%);
  }
}

.close:hover,
.close:focus {
  color: $fontColor;
  text-decoration: none;
  cursor: pointer;
}

body, html {
  height: 100%;
  text-align: center;
}

// </Modal>


// <Loader> 

.loader-wraper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7B0021;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50vw;
  height: 50vw;
  background-image: url(./70s.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 500px) {
    background-size: 100%;
  }

  @media screen and (min-width: 1600px) {
    background-size: 70%;
  }

  p {
    z-index: 1;
    font-size: 5rem;
    
    @media screen and (max-width: 500px) {
      font-size: 2.5rem;
    }

    @media screen and (min-width: 1600px) {
       font-size: 120px;
    }
  }
}

.blink_me1 {
  animation: blinker 1s linear infinite;
}

.blink_me2 {
  animation: blinker 1s linear infinite;
  animation-delay: 0.3s;
}

.blink_me3 {
  animation: blinker 1s linear infinite;
  animation-delay: 0.6s;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

// </Loader>

form span {
  display: block;
  white-space: nowrap;
}

input, label {
  cursor: pointer;
}

// Checkbox modifier
input[type='checkbox'] {
	-webkit-appearance: none;
  -moz-appearance: none;

	border: 3px solid $fontColor;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
  transition: transform 0.2s ease;

  &:active, &:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  }
  
  &:checked {
    border: 3px solid $fontColor;
    color: white;
  }

  &:checked:after {
    content: '\2714';
    font-size: 16px;
    position: absolute;
    top: 0px;
    left: 2px;
    color: white;
  }

  &:hover {
    transform: scale(1.2);
  }

}

.big-checkbox--mod {
	padding: 18px;
  
  &:checked:after {
    font-size: 28px;
    left: 6px;
  }
}

//Radio modifier
input[type='radio'] {
	-webkit-appearance: none;
  -moz-appearance: none;
	
	border: 3px solid $fontColor;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
  transition: transform 0.2s ease;

  &:checked:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: white;
    text-shadow: 0px;
    left: 3px;
    font-size: 1rem;
  }

  &:checked {
    color: white;
    
  }

  &:active, &:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  }

  &:hover {
    transform: scale(1.2);
  }

}

.big-radio--mod {
	padding: 16px;

  &:checked:after {
    width: 24px;
    height: 24px;
    left: 4px;
    top: 4px;
  }

}

// Textarea modifier

textarea {
  background-color: transparent;
  resize: none;
  color: white;
  font-size: 2rem;
  font-family: $mainFont;
  text-align: center;
  padding: 20px;
  border: 5px solid $fontColor;
  border-radius: 10% / 30%;
  transition: transform, background-color 0.2s ease;
  overflow: hidden;

  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey;
    opacity: 1; /* Firefox */
  }
  
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgrey;
  }
  
  &::-ms-input-placeholder { /* Microsoft Edge */
    color: lightgrey;
  }

  &:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.07);
  }
  
}

// Dropdown modifier

select {
  outline-color: $fontColor;
  color: white;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: transparent; /* Fallback color if gradients are not supported */
  background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(255, 80, 103)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-position: center right;
  background-repeat: no-repeat;
  border: 5px solid $fontColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  margin: 0;
  overflow: hidden;
  padding: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: $mainFont;
  border-radius: 35px;

  &:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.07);
  }

  &:hover {
    cursor: pointer;
  }
}

