body {
    background-color: greenyellow;
    font-size:  large;
    color: rgb(255, 80, 103);
    background-image: url('70s.gif');
    background-size: 1%;
    font-family: 'Righteous', cursive;
}

.container {
    width: 1500px;
    margin: 5vh auto;
    position: relative;
}

h1 {
    display: none;
    position: absolute;
    font-size: 7vw;
    width: 80%;
    left: 10%;
    opacity: 0.9;
    top: 10vh;
}

#video {
    position: absolute;
    width: 100%;
    border-radius: 15% / 40%;
    background-image: url("california-dreamin-mute.gif");
}

.content {
    position: absolute;
    left: 35%;
    top: 5vh;
    border-radius: 3% 3% 30% 3% / 3% 3% 40% 3%;
}

textarea {
    resize: none;
}

@media only screen and (max-width: 1500px) {
    /* For mobile phones: */

    h1 {
        display: block;
        z-index: 1;
        top: 10vh;
    }

    .container {
        width: 100%;
        margin: 1vh auto;
        position: relative;
    }

    #video {
        position: absolute;
    }

    .content {
      padding: 2vw;
      background-color: rgb(241, 233, 188);
      position: absolute;
      top: 50vh;
      left: 10%;
      width: 75%;
      opacity: 0.95;
    }
  }
  
  @media only screen and (max-width: 900px) {
    /* For mobile phones: */

    h1 {
        display: block;
        left: auto;
        padding: 2vw;
        top: 10vh;
    }

    .container {
        width: 100%;
        margin: 1vh auto;
        position: static;
    }

    #video {
        position: static;
    }

    .content {
      padding: 2vw;
      margin-top: 1vh;  
      background-color: rgb(241, 233, 188);
      position: static;
      width: auto;
      opacity: 1;
    }
  }

  